<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.friend.modules.demo.dao.EmployeeMapper" >
  <resultMap id="employeeMap" type="com.friend.modules.demo.model.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sharding_id" property="shardingId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sharding_id
  </sql>

  <select id="selectEmployeeByPage" resultMap="employeeMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM employee
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="shardingId != null" >
        sharding_id = #{shardingId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="employeeMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.friend.modules.demo.model.Employee" >
    insert into employee (id, name, sharding_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shardingId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.friend.modules.demo.model.Employee" >
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shardingId != null" >
        sharding_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shardingId != null" >
        #{shardingId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.friend.modules.demo.model.Employee" >
    update employee
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shardingId != null" >
        sharding_id = #{shardingId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.friend.modules.demo.model.Employee" >
    update employee
    set name = #{name,jdbcType=VARCHAR},
      sharding_id = #{shardingId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>